<!DOCTYPE HTML>
<html lang="en">
	<head>
		<script type = "text/javascript" src="/static/index.js"></script>
	</head>
	<body>
		<div id="sse">
			<button id="send-feedback" onclick="sendFeedback.apply(this, arguments);">Send feedback</button>
			<button id="send-display" onclick="sendDisplay.apply(this, arguments);">Send display</button>
		</div>
		<code id="content"></code>
	</body>
</html>